/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/4/css/bootstrap.css"

html, body, app-root {
  height: 100%;
  margin: 0;

  }

body {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;


  ::selection {
    color: white;
    background-color: rgb(34, 32, 36);
  }
}


.nav-item.tab-style {

  border: 2px solid #e91e63;
  border-radius: 0.4rem;

}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #e91e63;
}
.navbar.navbar-2 .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}
.navbar.navbar-dark .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  cursor: pointer;
}
.form-control {
  border-top-left-radius: 5em ;
  border-bottom-left-radius: 5em ;
}
